heroic/*
discord/*
!discord/settings.json
unity3d/*
go/*
Code/*
!Code/User/
Code/User/globalStorage
Code/User/History
Code/User/snippets
Code/User/workspaceStorage
!Code/User/settings.json
Code/User/chat*

FortiClient/*
Code - OSS/*
obs-studio/*
mozilla/*
filezilla/*
Electron/*
menus/*
spotify/*
Blockbench/*
pgadmin4/*
waydroid-helper/
unityhub/*
UnityHub/*
libreoffice/*